.top-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top-nav li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}